section.play_list
{
	margin: 0 9em;
}

@media (max-width: 800px) 
{
	
	section.play_list
	{
		margin: 0 5em;
	}
}

section.list
{
	display : flex;
	justify-content: space-evenly;
	flex-wrap:wrap;
}

section.list > div 
{
width : 30%;
}
section.list img {
	display:inline-block;

}
.short-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

article>p.margin {
	margin: 0px 0px 5px 20px;
}

a.addbuttons { 
	margin: 0px 0px 0px 30px;
}

a.badbuttons { 
	background-color: crimson;
	border-color: crimson;
}

a.no_a_style {
	text-decoration: none;
  	text-transform: none;
}

a.title {
	color: white;
}

error.errorMessage {
	color: rgb(239 72 72);
}

nav.centered, nav ul.centered {
	align-items: center;
}

nav ul.noncentered {
	align-items: normal !important;
}

nav.centered>h3 {
	margin-block: 0;
	margin-left: 18px;
}

nav>form.recherche{
	display: flex;
    flex-wrap: nowrap;
}

nav>form.recherche>*{
	margin-right : 5px;
	margin-left : 5px;
}

ul>li>article.playlist{
	background-color: var(--pico-card-sectioning-background-color);
	border-color: var(--pico-card-sectioning-background-color);
}

h3.titre{
	margin-bottom: 0;
	margin-block-start: 0;
    margin-block-end: 0;
}

.question{
	justify-content: space-around;
}

/* Ajout pour sticky footer */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background: #f8f9fa;
    padding: 1rem;
    text-align: center;
}
